body{ counter-reset: titleLevel1; }

h2{ 
    counter-increment: titleLevel1; 
    counter-reset: titleLevel2;
}
h2::before{ content: counter(titleLevel1) ". "; }
h3{ counter-increment: titleLevel2; }
h3::before{ content: counter(titleLevel1) ". " counter(titleLevel2) ". "; }


@media print{
    @page{
        size: A4;
        @bottom-right{
            content: counter(page);
        }
    }

    #table-of-content{ break-after: page; }
    h2{ break-before: page; }


} 

