---
import CoverPage from './CoverPage.astro'
import IntroductionPage from './IntroductionPage.astro'
import EncounterDoc from './EncounterDoc.astro'
import StaticEncounters from './StaticEncounters.astro'
import TOC from './TOC.astro'
import MultiEncounters from './MultiEncounters.astro'
import EggEncounters from './EggEncounters.astro'
---

<div id="container">
    <main>
        <CoverPage />

        <IntroductionPage />
        <TOC />
        <EncounterDoc />

        <StaticEncounters />
        <EggEncounters/>
        <MultiEncounters/>
    </main>
</div>
