---

---

<div class="relative min-w-[50%] overflow-hidden rounded-md border-2">
  <table class="w-full table-auto">
    <thead>
      <tr class="bg-emerald-600 text-white">
        <th class="px-4 py-2 text-center">Notes</th>
      </tr>
    </thead>
    <tbody class="h-100 bg-white">
      <tr class="h-full">
        <td
          colspan={1}
          class="px-1 py-2 text-center align-middle text-sm text-gray-500"
        >
          <div class="flex h-full w-full flex-col items-center justify-center">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
