---
import '../styles/global.css'
import faviconUrl from '../assets/sprites/favicon.svg?url'
import createTocUrl from '../assets/js/createToc.js?url'
import tocCssUrl from '../styles/table-of-content.css?url'
const isProd = import.meta.env.MODE === 'production'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={faviconUrl} />
        <meta name="generator" content={Astro.generator} />

{        isProd && (
        <link
            rel="stylesheet"
            type="text/css"
            href={tocCssUrl}
        />
        <script
            is:inline
            src="https://unpkg.com/pagedjs@0.4.3/dist/paged.polyfill.js"
        ></script>
        <script type="text/javascript" src={createTocUrl}></script>
        <script is:inline>
            class handlers extends Paged.Handler {
                constructor(chunker, polisher, caller) {
                    super(chunker, polisher, caller)
                }

                beforeParsed(content) {
                    createToc({
                        content: content,
                        tocElement: '#my-toc-content',
                        titleElements: ['h2']
                    })
                }
            }
            Paged.registerHandlers(handlers)
        </script>
        )}

        <title>EI Encounters</title>
    </head>
    <body>
        <slot />
    </body>
</html>
